%header.mod-header
  .layout-wrap
    %h1= link_to 'Turing School of Software & Design', 'http://turing.io'

    %nav
      %ul
        %li{class: current_page.nav_active('today')}= link_to 'Today', '/'
        %li{class: current_page.nav_active('all')}= link_to 'All Outlines', '/all/'
        %li{class: current_page.nav_active('main_site')}= link_to 'Main Site', 'http://turing.io/'
