.mod-outline
  .layout-inner-wrap
    .col-article
      %h1 All Outlines

      %ul
        - outline_list(sitemap.resources).first(100).each do |outline|
          %li= link_to outline_name(outline.path), outline.path
