.mod-blog
.mod-post
  .layout-inner-wrap
    .col-article
      %h4 September 23, 2014
      %h1 Hello World!
      %h3 Jeff Casimir
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut interdum metus. Maecenas blandit neque nulla, eget dictum magna ultrices ac. Quisque id aliquet justo, vel bibendum diam. Aenean ante magna, ultricies sit amet leo luctus, auctor lacinia libero. Etiam aliquet, ipsum sit amet tincidunt elementum, libero neque suscipit diam, nec lobortis enim risus a orci. Duis convallis egestas sodales. Morbi et venenatis erat. Nullam ultrices euismod aliquam. Curabitur tincidunt mollis diam in lacinia. Duis a lectus lectus.
      %p
        In in commodo turpis, ac volutpat sem. Integer vel congue leo, a ultricies lacus. Praesent faucibus, eros porttitor sodales euismod, neque magna ornare orci, non consectetur quam metus ac augue. Mauris varius, leo sit amet cursus venenatis, lorem mauris suscipit leo, a posuere elit nulla non eros. Suspendisse potenti. Maecenas nec sodales ante, non tincidunt augue. Phasellus congue, ipsum quis malesuada ornare, orci nisl ullamcorper nisi, et pellentesque urna sem eu nisl. Nunc tincidunt, est quis rutrum rhoncus, nunc nibh mattis risus, in tempus justo nibh et tortor. Etiam at dui ut diam luctus fermentum. Curabitur suscipit tellus ligula, mattis semper nibh imperdiet eu. Suspendisse potenti. Pellentesque vulputate tortor sed mollis dictum.
      %p
        Fusce a erat ut elit facilisis gravida et sed lorem. In vel tortor tempus, tempor leo at, hendrerit lorem. Sed at consequat justo. In vitae fermentum turpis, nec auctor nulla. Sed posuere laoreet facilisis. Donec quis condimentum neque. Donec iaculis eros risus, eu porta nisl fringilla eget. Sed rhoncus sollicitudin lectus. Sed tincidunt urna non orci tempor tempor vel et velit. Nam dignissim eu arcu nec placerat. Proin commodo dui vel tincidunt aliquet.
    .col-sidebar
      - blog.articles.each do |article|
        %h5
          .date
            = format_date(article.date)
          = article.title
          %br
