.mod-intro
  padding: 250px 45px 105px
  text-align: center
  color: #fff
  background: #333 image-url("bg_intro.jpg") center center no-repeat
  background-size: cover

  +max-width(400px)
    padding-top: 300px

  h2,
  p
    max-width: 620px
    margin: 0 auto

  h2
    margin-bottom: 25px
    font-size: 48px
    font-weight: $font-weight-light

  p
    margin-bottom: 35px
    line-height: 1.57142
