.outline_list
  // *
    border: 1px solid blue

  .month
    position: relative
    clear:    both
    overflow: visible

    .monthname
      vertical-align: top
      position:       absolute
      top:            0
      left:           0
      margin:         0px

      a
        color:           transparentize($blue, 0.85)
        margin:          0px
        font-weight:     bold
        font-size:       150px
        text-decoration: none

    .week
      display:        inline-block
      margin-top:     0px
      margin-right:   50px
      margin-left:    50px
      margin-bottom:  25px
      position:       relative
      vertical-align: top

      ul.weekdays
        list-style-type: none
        margin:          0px

      .weeknumber
        z-index:         -1
        position:        absolute
        right:           0px
        top:             -15px
        color:           #dfdfdf
        font-weight:     bold
        font-size:       65px
        text-decoration: none
